<div>
    <img id="image" alt="BackGroundImage" src="/assets/images/BackgroundImage2.jpg">
</div>
<!-- <div>
    <img id="imageHeader" alt="BackGroundImage" src="/assets/images/cropped-1349-280-454233.jpg">
</div> -->    
<div id="headerimage">
  <div class="wrapper">
    <h1>Native Food</h1>
  </div>
</div>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">NativeFood</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['register']">Vendor Register</a>
              <a class="dropdown-item" [routerLink]="['placeregister']">Place Register</a>
              <a class="dropdown-item" [routerLink]="['foodregister']">Food Register</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Data
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['search']">Vendor Data</a>
                <a class="dropdown-item" [routerLink]="['searchplace']">Place Data</a>
                <a class="dropdown-item" [routerLink]="['searchfood']">Food Data</a>
              </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['deployproduct']">DeployProducts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['displayproduct']">Products</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
</nav>
</header>