<!-- <footer>
    <div id="footer-info">
     <p>Copyright 2018 CompanyName. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
    </div>
</footer> -->


<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
          <p>We provide our customers 100% pure and unique recipes and things made with locally
            sourced produce. The authentic hometown flavours of our products
        help our customers connect emotionally with their products. With our products people 
        don’t have to wait to visit the places to experience their unique offerings.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['']">Home</a>
            </li>
            <li>
              <a [routerLink]="['deployproduct']">DeployProducts</a>
            </li>
            <li>
              <a [routerLink]="['displayproduct']">Products</a>
            </li>
            <li>
              <a href="#!">Contact</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['register']">VendorRegistration</a>
            </li>
            <li>
              <a [routerLink]="['placeregister']">PlaceRegistration</a>
            </li>
            <li>
              <a [routerLink]="['foodregister']">FoodRegistration</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['search']">VendorData</a>
            </li>
            <li>
              <a [routerLink]="['searchplace']">PlaceData</a>
            </li>
            <li>
              <a [routerLink]="['searchfood']">FoodData</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div id="Copyright" class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://localhost:4200/"> NativeFood.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->