<br>
<table id="displayTable">
  <tr>
    <td *ngFor="let product of products; let i=index">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://localhost:8082/productapi/files/biryani.jpg" alt="Card image cap">
      <!-- class="img-thumbnail" -->
      <div class="card-body">
      <h5 class="card-title"><i class="fa fa-cutlery"></i>{{product.productName}}</h5>
      <p class="card-text">Product Type: {{product.productType}}<br>
        Availability Location: {{product.availabilityLocation}}
      </p>
<!--       Some quick example text to build on the card title and make up the bulk of the card's content. -->
      <a href="#" class="btn btn-primary">View</a>
      </div>
      </div>
    </td>
  </tr>  
</table>
<br>