<div id="heading">
  <h3>Deploy&nbsp;Products</h3>
</div>

<br>

<div id="SelectField">
  <select class="form-control form-control-lg">
    <option value="" selected disabled>Select to Deploy Product/Products</option>
    <option (click)="Single()">Deploy Single Product</option>
  </select>
      <!-- <option (click)="Multiple()">Deploy Multiple Products</option> -->
</div>

<br><br>
<hr>
<br>
<div id="Form" *ngIf="showSingle">
    <br>
    <label>Image&nbsp;Upload<span id="required">*</span></label>     
    <br><br>
    <div *ngIf="currentFileUpload" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
    </div>
    <label class="btn btn-default"> 
      <input type="file" (change)="selectFile($event)">
    </label>
    <button id="buttonUpload" class="btn btn-info" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
    <br>
    <form method="POST" [formGroup]="deployProducts" (ngSubmit)="deployProduct()">
      <div class="form-group">
        <label>Product&nbsp;Name<span id="required">*</span></label>
        <input id="Fields" class="form-control" type="text" name="productName" placeholder="Enter Product Name" [(ngModel)]="product.productName" formControlName='productName' />
        <div *ngIf="deployProducts.controls['productName'].touched && !deployProducts.controls['productName'].valid">
          <div *ngIf="deployProducts.controls['productName'].hasError('required')" id="alertDeploy">
            <span id="required">Product Name is Required!</span>
          </div>
          <div *ngIf="deployProducts.controls['productName'].hasError('pattern')" id="alertDeploy">
            <span id="required">Invalid Product Name!</span>
          </div>  
        </div>
      </div>
      <br><br><br><br>
  
      <div class="form-group">
        <label>Product&nbsp;Type<span id="required">*</span></label>
        <input id="Fields" class="form-control" type="text" name="productType" placeholder="Enter Product Type" [(ngModel)]="product.productType" formControlName='productType'/>
        <div *ngIf="deployProducts.controls['productType'].touched && !deployProducts.controls['productType'].valid">
          <div *ngIf="deployProducts.controls['productType'].hasError('required')" id="alertDeploy">
            <span id="required">Product Type is Required!</span>
          </div>
          <div *ngIf="deployProducts.controls['productType'].hasError('pattern')" id="alertDeploy">
            <span id="required">Invalid Product Type!</span>
          </div>  
        </div>
      </div>
      <br><br><br><br>

      <div class="form-group">
          <label>Availability&nbsp;Location<span id="required">*</span></label>
          <input id="Fields" class="form-control" type="text" name="availabilityLocation" placeholder="Enter Availability Location of Product" [(ngModel)]="product.availabilityLocation" formControlName='availabilityLocation'/>
          <div *ngIf="deployProducts.controls['availabilityLocation'].touched && !deployProducts.controls['availabilityLocation'].valid">
            <div *ngIf="deployProducts.controls['availabilityLocation'].hasError('required')" id="alertDeploy">
              <span id="required">Availability Location is Required!</span>
            </div>
            <div *ngIf="deployProducts.controls['availabilityLocation'].hasError('pattern')" id="alertDeploy">
              <span id="required">Invalid Availability Location!</span>
            </div>  
          </div>
      </div>
      <br><br><br><br>

      <div class="form-group">
          <label>Description</label>
          <textarea id="Fields_TextArea" class="form-control" name="productDescription" rows="3" placeholder="Enter Description of Product with minimum 150 characters" [(ngModel)]="product.productDescription" formControlName='productDescription'></textarea>
          <div *ngIf="deployProducts.controls['productDescription'].touched && !deployProducts.controls['productDescription'].valid">
            <div *ngIf="deployProducts.controls['productDescription'].hasError('maxLength')" id="alertDeploy">
              <span id="required">Only 150 characters are allowed!</span>
            </div>
<!--             <div *ngIf="deployProducts.controls['productDescription'].hasError('pattern')" id="alertDeploy">
              <span id="required">Invalid Description!</span>
            </div> -->  
          </div>
      </div>
      <br><br><br><br><br><br>
 
        <!-- <label>Image&nbsp;Upload<span id="required">*</span></label>     
          <br><br> -->
          <!-- <image-upload [max]="1" [buttonCaption]="'Select Image'" [dropBoxMessage]="'Drop your image here!'"
          [clearButtonCaption]="'Remove'" [class]="'customClass'">
          <input type="file" class="form-control-file" name="imageUpload" accept="image/*" [(ngModel)]="deployproduct.imageUpload" formControlName='imageUpload'/>
          <div *ngIf="deployProducts.controls['imageUpload'].touched && !deployProducts.controls['imageUpload'].valid">
            <div *ngIf="deployProducts.controls['imageUpload'].hasError('required')" id="alertDeploy">
              <span id="required">Product Image is Required!</span>
            </div>
          </div> 
          </image-upload>
        <br> -->
        <button id="button" type="submit" class="btn btn-success" [disabled]='!deployProducts.valid'>Deploy</button>
      </form>
</div>

<br>

<!-- <div *ngIf="showMultiple">
  <form id="Form" method="POST" [formGroup]="deployProducts" (ngSubmit)="deployProduct()">
      <div class="form-group">
          <label>Image&nbsp;Upload<span id="required">*</span></label>     
            <br><br>
            <image-upload [max]="100" [buttonCaption]="'Select Images'" [dropBoxMessage]="'Drop your images here!'"
            [clearButtonCaption]="'Remove'" [class]="'customClass'">
            <input type="file" class="form-control-file" name="imageUpload" accept="image/*"
            [(ngModel)]="deployproduct.imageUpload" formControlName='imageUpload'/>
            <div *ngIf="deployProducts.controls['imageUpload'].touched && !deployProducts.controls['imageUpload'].valid">
              <div *ngIf="deployProducts.controls['imageUpload'].hasError('required')" id="alert">
                <span id="required">Product Image is Required!</span>
              </div>
            </div>
            </image-upload>
            <br>
            <button id="button" type="submit" class="btn btn-success" (click)="MultipleForm()" >Upload</button> --><!-- [disabled]='!deployProducts.valid' -->   
<!--       </div>
  </form>
</div>
<br>
<div *ngIf="showMultipleForm">
  <form>
  <table class="table table-striped">
  <thead>          
  <tr>
  <th>#</th>
  <th>Product&nbsp;Name</th>
  <th>Product&nbsp;Type</th>
  <th>Availability&nbsp;Location</th>
  <th>Description</th>
  <th>Image</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i=index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <input type="text" name="productName" placeholder="Enter Product Name" />
        </td>
        <td>
            <input type="text" name="productName" placeholder="Enter Product Name" />
        </td>
        <td>
            <input type="text" name="productName" placeholder="Enter Product Name" />
        </td>
        <td>
            <input type="text" name="productName" placeholder="Enter Product Name" />
        </td>
        <td>
            <input type="text" name="productName" placeholder="Enter Product Name" />
        </td>
        <td>
          <div class="img-ul-img" style="background-image: url()" ng-reflect-ng-style="[object Object]">

          </div>
        </td>
    </tr>
  </tbody>
  </table>
  </form>
</div>          
<br> -->