<div>         
  <h2 id="heading">FOOD REGISTRATION</h2> 
</div>
<div id="Form">
  <form name="Food_Registration" method="POST" [formGroup]="foodRegistration" (ngSubmit)="saveFood()">
    <div class="form-group">
      <label>Location<span id="required">*</span></label>
      <input id="Fields" class="form-control" type="text" name="locationName" placeholder="Enter Location Name" [(ngModel)]="food.locationName" formControlName='locationName'/>
      <div *ngIf="foodRegistration.controls['locationName'].touched && !foodRegistration.controls['locationName'].valid">
        <div *ngIf="foodRegistration.controls['locationName'].hasError('required')" id="alert">
          <span id="required">Location Name is Required!</span>
        </div>
        <div *ngIf="foodRegistration.controls['locationName'].hasError('pattern')" id="alert">
          <span id="required">Invalid Location Name!</span>
        </div>  
      </div>
    </div> 
    <br><br><br><br>
           
    <div class="form-group">
      <label>Sweet&nbsp;Name<span id="required">*</span></label>
      <input id="Fields" class="form-control" type="text" name="sweetName" placeholder="Enter Sweet Name" [(ngModel)]="food.sweetName" formControlName='sweetName' />
      <div *ngIf="foodRegistration.controls['sweetName'].touched && !foodRegistration.controls['sweetName'].valid">
        <div *ngIf="foodRegistration.controls['sweetName'].hasError('required')" id="alert">
          <span id="required">Sweet Name is Required!</span>
        </div>
        <div *ngIf="foodRegistration.controls['sweetName'].hasError('pattern')" id="alert">
          <span id="required">Invalid Sweet Name!</span>
        </div>
      </div>
    </div>
    <br><br><br><br>
     
    <button id="button" type="submit" [disabled]='!foodRegistration.valid'>Register</button>
  
    </form>
</div>
<br>  