<div>         
  <h2 id="heading">PLACE REGISTRATION</h2> 
</div>
<div id="Form">
  <form name="Place_Registration" method="POST" [formGroup]="placeRegistration" (ngSubmit)="savePlace()">
    <div class="form-group">
      <label>Place<span id="required">*</span></label>
      <input id="Fields" class="form-control" type="text" name="placeName"  placeholder="Enter Place" [(ngModel)]="place.placeName" formControlName='placeName'/>
      <div *ngIf="placeRegistration.controls['placeName'].touched && !placeRegistration.controls['placeName'].valid">
        <div *ngIf="placeRegistration.controls['placeName'].hasError('required')" id="alert">
          <span id="required">Place is Required!</span>
        </div>
        <div *ngIf="placeRegistration.controls['placeName'].hasError('pattern')" id="alert">
          <span id="required">Invalid Place!</span>
        </div>  
      </div>
    </div> 
    <br><br><br><br>
           
    <div class="form-group">
      <label>State<span id="required">*</span></label>
      <select id="Fields" class="form-control" name="state" [(ngModel)]="place.state" formControlName='state'>
        <option value="" selected disabled>Select State</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Telangana">Telangana</option>
      </select>
      <div *ngIf="placeRegistration.controls['state'].touched && !placeRegistration.controls['state'].valid">
        <div *ngIf="placeRegistration.controls['state'].hasError('required')" id="alert">
          <span id="required">State is Required!</span>
        </div>
      </div>
    </div>
    <br><br><br><br>
    
    <div class="form-group">
      <label>Country<span id="required">*</span></label>
      <select id="Fields" class="form-control" name="country" [(ngModel)]="place.country" formControlName='country'>
        <option value="" selected disabled>Select Country</option>
        <option value="India">India</option>
      </select>
      <div *ngIf="placeRegistration.controls['country'].touched && !placeRegistration.controls['country'].valid">
        <div *ngIf="placeRegistration.controls['country'].hasError('required')" id="alert">
          <span id="required">Country is Required!</span>
        </div>
      </div>
    </div>
    <br><br><br><br>

    <div class="form-group">
      <label>Pincode<span id="required">*</span></label>
      <input id="Fields" class="form-control" type="text" name="pincode" placeholder="Enter Pincode" [(ngModel)]="place.pincode" formControlName='pincode' />
      <div *ngIf="placeRegistration.controls['pincode'].touched && !placeRegistration.controls['pincode'].valid">
        <div *ngIf="placeRegistration.controls['pincode'].hasError('required')" id="alert">
          <span id="required">Pincode is Required!</span>
        </div>
        <div *ngIf="placeRegistration.controls['pincode'].hasError('pattern')" id="alert">
          <span id="required">Pincode has to be 6 digit number only!</span>
        </div>
      </div>
    </div>
    <br><br><br><br>
     
    <button id="button" type="submit" [disabled]='!placeRegistration.valid'>Register</button>
  
    </form>
</div>
<br>  