<div>         
  <h4 id="heading">PLACE REGISTRATION DATA</h4> 
</div>
<div class="container">
  <div class="placeList">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Place</th>
          <th>State</th>
          <th>Country</th>
          <th>Pincode</th>
          <th>
            <button type="button" class="btn btn-primary" (click)="onNew()">New</button>
          </th>
          <th>
            <button type="button" class="btn btn-danger" (click)="onDeleteAll()">DeleteAll</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let place of places; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{place.placeId}}</td>
          <td>{{place.placeName}}</td>
          <td>{{place.state}}</td>
          <td>{{place.country}}</td>
          <td>{{place.pincode}}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i,place,place.placeId)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(i,place.placeId)">Delete</button>
          </td>  
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div id="Form" *ngIf="showNew">
    <form name="Place_Registration" method="PUT" [formGroup]="placeRegistration" (ngSubmit)="editPlace(place.placeId,place)">
        <div class="form-group">
          <label>Place<span id="required">*</span></label>
          <input id="Fields" class="form-control" type="text" name="placeName"  placeholder="Enter Place" [(ngModel)]="place.placeName" formControlName='placeName'/>
          <div *ngIf="placeRegistration.controls['placeName'].touched && !placeRegistration.controls['placeName'].valid">
            <div *ngIf="placeRegistration.controls['placeName'].hasError('required')" id="alert">
              <span id="required">Place is Required!</span>
            </div>
            <div *ngIf="placeRegistration.controls['placeName'].hasError('pattern')" id="alert">
              <span id="required">Invalid Place!</span>
            </div>  
          </div>
        </div> 
        <br><br><br><br>
        
        <div class="form-group">
            <label>State<span id="required">*</span></label>
            <select id="Fields" class="form-control" name="state" [(ngModel)]="place.state" formControlName='state'>
              <option value="" selected disabled>Select State</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Telangana">Telangana</option>
            </select>
            <div *ngIf="placeRegistration.controls['state'].touched && !placeRegistration.controls['state'].valid">
              <div *ngIf="placeRegistration.controls['state'].hasError('required')" id="alert">
                <span id="required">State is Required!</span>
              </div>
            </div>
          </div>
          <br><br><br><br>
          
          <div class="form-group">
            <label>Country<span id="required">*</span></label>
            <select id="Fields" class="form-control" name="country" [(ngModel)]="place.country" formControlName='country'>
              <option value="" selected disabled>Select Country</option>
              <option value="India">India</option>
            </select>
            <div *ngIf="placeRegistration.controls['country'].touched && !placeRegistration.controls['country'].valid">
              <div *ngIf="placeRegistration.controls['country'].hasError('required')" id="alert">
                <span id="required">Country is Required!</span>
              </div>
            </div>
          </div>
          <br><br><br><br>
      
          <div class="form-group">
            <label>Pincode<span id="required">*</span></label>
            <input id="Fields" class="form-control" type="text" name="pincode" placeholder="Enter Pincode" [(ngModel)]="place.pincode" formControlName='pincode' />
            <div *ngIf="placeRegistration.controls['pincode'].touched && !placeRegistration.controls['pincode'].valid">
              <div *ngIf="placeRegistration.controls['pincode'].hasError('required')" id="alert">
                <span id="required">Pincode is Required!</span>
              </div>
              <div *ngIf="placeRegistration.controls['pincode'].hasError('pattern')" id="alert">
                <span id="required">Pincode has to be 6 digit number only!</span>
              </div>
            </div>
          </div>
          <br><br><br><br>

          <div id="search_buttons">
              <button type="submit" class="btn btn-success" [disabled]='!placeRegistration.valid'>Update</button>
              &nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
      </form>
</div>  