/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face{
	font-family: CreteRound-Regular;
	src: url('/assets/fonts/CreteRound-Regular.ttf');
}

html{
    height: 100%;
}
 
body{
	font-family: 'CreteRound-Regular';
	background-color:  #f0f0f0;	
 	height: 100%;
  	width: 100%;
    margin: 0;
}  

#image{
	filter: blur(2px);
	z-index: -1;
  	position: fixed;
  	background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#imageHeader{
	filter: blur(0px);
	z-index: -1;
  	position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
}

a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #02b8dd;
}

.wrapper {
    margin: 0 auto;
    width: 940px;
}
#headerimage {
    height: 100px;
    position: relative;
    top:0;
    background-color: #29707d;
}
#headerimage h1 {
	font-size: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 340px;
    color: #f6f5f5;
}
#headerimage h1 .color {
    color: #02b8dd;
}
#headerimage h1:hover{
	color: #C70039;
}

header{
    position: sticky;
    top:0;
    z-index: 1;
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 40px;
}
#links li {
    float: right;
    margin-right: 10px;
}
#links li a {
	color: #f6f5f5;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#links li a:hover {
    color: #02b8dd;
}

#heading{
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #6b6d6d;
    margin-top: 2%;
    text-align: center; 
}

#SelectField{
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}

#Form{
    margin-top: 10px;
	border: 2px solid #a1a1a1;
	border-radius: 5px;
	background-color: #fdfdfd;
	padding: 25px;
	width: 500px;
    height: auto;
    margin: 0 auto;
}

#Form label{
	text-align: left;
	padding-right: 10px;
    width: 100px;
}

#Fields{
	height: 35px;
    width: 400px;
}

#Fields_TextArea{
    width:400px;
}

#Form label, #Form input, #Form select, #Form textarea{
	display: block;
	float: left;
    margin-bottom: 10px;
    margin-left: 4%
}
#checkbox{
    margin-bottom: 5px;
}

#checkbox input{
    margin-top: 5px;
}

#divcheckbox{
    float:left;
    width: 400px;
}

#required{
	color: #ed2846;
}

#alert{
    padding-left: 115px;
    height: 15px;
}

#alertDeploy{
    padding-left: 172px;
    height: 15px;
}

#button{
	margin:auto;
  	display:block;
	border: none;
	border-radius: 5px;
    top: 65%;
	background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
}
#button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#buttonUpload{
    margin-left: 50%;
    margin-top: 10px;
}

#Search_Form{
    margin-top: 20px;
    padding-left: 400px;
}

#Search_Form input{
    border-radius: 5px;
    width: 300px;
    padding-left: 1%;
}

#search_button{
	border: none;
	border-radius: 5px;
	background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin-top: 10px;
    margin-left: 10px;
}
#search_button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#search_buttons{
    margin-left: 30%;
}

footer{
    background-color:  #979a9a;
}

#Copyright{
    background-color:  #ecf0f1;
}

/* footer {
    background-color: #474A49;
    height: 25px;
    position: sticky;
    bottom: 0%;
}
#footer-info {
	text-align: center;
    margin-top: 10px;
} 
footer p, a{
	color: #f6f5f5;
}
footer p{
    margin-bottom: 0px;
}
 */
/*File Upload in Angular2 custom css*/
.customClass {
    --active-color: #3C9;
    --common-radius: 3px;
    background-color: #f8f8f8;
    border-radius: var(--common-radius);
    border: #d0d0d0 dashed 1px;
    font-family: sans-serif;
    position: relative;
    color: #9b9b9b;
    width: 400px;
    margin-left: 15px;
    font-size: 12px;
}
/**/

.fa {
    padding: 17px;
    font-size: 17px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google-plus {
    background: #dd4b39;
    color: white;
  }
      
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }  

#productimage{
    width: 400px;
    height: 200px;

}
#size{
    width: 300px;
    height: 400px;

}

#displayTable{
    margin-top: 10px;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	padding: 25px;
	width: auto;
    height: auto;
    margin: 0 auto;
}