<div id="container">
  <div ng2-carouselamos class="slides-wrapper"
          [items]="items"
          [width]="900"
          [$prev]="prev"
          [$next]="next"
          [$item]="item"
        >
        <ng-template #prev>
          <img src="../../assets/images/if_nav-arrow-left_383101.png" id="left" />
        </ng-template>
        <ng-template #next>
          <img src="../../assets/images/if_nav-arrow-right_383100.png" id="right" />
        </ng-template>
        <ng-template #item let-item let-i="index">      
          <div class="items">
            <img src="{{ item.name }}">
          </div>
        </ng-template>
  </div>
</div>