#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#ECF0F1;
}

.items {
    max-width: 100%;
    height:450px;
    background:#ECECEC;
}

#left, #right { 
    margin: 30px;
}