<div>         
  <h2 id="heading">VENDOR REGISTRATION</h2> 
</div>
<div id="Form">
  <form name="Vendor_Registration" method="POST" [formGroup]="vendorRegistration" (ngSubmit)="saveVendor()">
    <div class="form-group">
      <label>Name<span id="required">*</span></label>
      <input id="Fields" class="form-control" type="text" name="vendorName"  placeholder="Enter Vendor Name" [(ngModel)]="vendor.vendorName" formControlName='vendorName'/>
      <div *ngIf="vendorRegistration.controls['vendorName'].touched && !vendorRegistration.controls['vendorName'].valid">
        <div *ngIf="vendorRegistration.controls['vendorName'].hasError('required')" id="alert">
          <span id="required">Name is Required!</span>
        </div>
        <div *ngIf="vendorRegistration.controls['vendorName'].hasError('pattern')" id="alert">
          <span id="required">Invalid Name!</span>
        </div>  
      </div>
    </div> 
    <br><br><br><br>

    <div class="form-group">
      <label>Store&nbsp;Name<span id="required">*</span></label>
      <input id="Fields" class="form-control"  type="text" name="vendorStoreName" placeholder="Enter Vendor Store Name" [(ngModel)]="vendor.vendorStoreName" formControlName='vendorStoreName'/>
      <div *ngIf="vendorRegistration.controls['vendorStoreName'].touched && !vendorRegistration.controls['vendorStoreName'].valid">
        <div *ngIf="vendorRegistration.controls['vendorStoreName'].hasError('required')" id="alert">
          <span id="required">Store Name is Required!</span>
        </div>
        <div *ngIf="vendorRegistration.controls['vendorStoreName'].hasError('pattern')" id="alert">
          <span id="required">Invalid Store Name!</span>
        </div>
      </div>
    </div>
    <br><br><br><br>
            
    <div class="form-group">
      <label>City<span id="required">*</span></label>
      <select id="Fields" class="form-control" name="vendorStoreCity" [(ngModel)]="vendor.vendorStoreCity" formControlName='vendorStoreCity'>
        <option value="" selected disabled>Select City</option>
        <option value="Hyderabad">Hyderabad</option>
        <option value="Warangal">Warangal</option>
        <option value="Karimnagar">Karimnagar</option>
        <option value="Nizamabad">Nizamabad</option>
      </select>
      <div *ngIf="vendorRegistration.controls['vendorStoreCity'].touched && !vendorRegistration.controls['vendorStoreCity'].valid">
        <div *ngIf="vendorRegistration.controls['vendorStoreCity'].hasError('required')" id="alert">
          <span id="required">City is Required!</span>
        </div>
      </div>
    </div>
    <br><br><br><br>
            
    <div class="form-group">
      <label>Email<span id="required">*</span></label>
      <input id="Fields" class="form-control" type="text" name="vendorEmail" placeholder="Enter Vendor Email" [(ngModel)]="vendor.vendorEmail" formControlName='vendorEmail' />
      <div *ngIf="vendorRegistration.controls['vendorEmail'].touched && !vendorRegistration.controls['vendorEmail'].valid">
        <div *ngIf="vendorRegistration.controls['vendorEmail'].hasError('required')" id="alert">
          <span id="required">Email is Required!</span>
        </div>
        <div *ngIf="vendorRegistration.controls['vendorEmail'].hasError('pattern')" id="alert">
          <span id="required">Invalid Email!</span>
        </div>
      </div>
    </div>
    <br><br><br><br>
    
     <div class="form-group">
        <label>Services<span id="required">*</span></label>    
        <div *ngIf="vendorRegistration.controls['services'].touched && !vendorRegistration.controls['services'].valid">
        <div *ngIf="vendorRegistration.controls['services'].hasError('required')" id="alert">
          <span id="required">Atleast One Service is Required!</span>
        </div>
      </div>
      <div id="divcheckbox">  
        <div id="checkbox"><input type="checkbox"  name="services" value="Breakfast" formControlName='services'/>&nbsp;Breakfast</div>
        <div id="checkbox"><input type="checkbox"  name="services" value="Lunch/Dinner" formControlName='services'/>&nbsp;Lunch/Dinner</div>
        <div id="checkbox"><input type="checkbox"  name="services" value="Bakery" formControlName='services'/>&nbsp;Bakery</div>
        <div id="checkbox"><input type="checkbox"  name="services" value="Sweets" formControlName='services'/>&nbsp;Sweets</div> 
      </div>
    </div> 
    <br><br><br><br>

<!--     <div class="form-group">
      <div class="form-check" *ngFor="let servicetype of servicetypes; let i = index;">
        <label class="form-check-label" for="servicetype{{servicetype.value}}">
          <input class="form-input-check" type="checkbox"
          id="servicetype{{servicetype.value}}"
          name="servicetypeOptions"
          (change)="changeCheckbox(i)"
          [checked]="servicetype.checked">
          {{servicetype.name}}
        </label>
      </div>
    </div>

    <div class="form-group">
        <label>Services<span id="required">*</span></label>
        <p *ngFor="let servicetype of viewData.servicetypes">
            <input type="checkbox" 
            [checked]="services.servicetypes.includes(servicetype)" 
            (change)="changeServiceTypes(servicetype)"> {{ servicetype.name }}
        </p>
    </div>
 -->    
    <button id="button" type="submit" [disabled]='!vendorRegistration.valid'>Register</button>
  
    </form>
</div>
<br>  
