<div>         
  <h4 id="heading">FOOD REGISTRATION DATA</h4> 
</div>
<div class="container">
  <div class="placeList">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Location</th>
          <th>Sweet&nbsp;Name</th>
          <th>
            <button type="button" class="btn btn-primary" (click)="onNew()">New</button>
          </th>
          <th>
            <button type="button" class="btn btn-danger" (click)="onDeleteAll()">DeleteAll</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{food.sweetId}}</td>
          <td>{{food.locationName}}</td>
          <td>{{food.sweetName}}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i,food,food.sweetId)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(i,food.sweetId)">Delete</button>
          </td>  
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div id="Form" *ngIf="showNew">
    <form name="Food_Registration" method="PUT" [formGroup]="foodRegistration" (ngSubmit)="editFood(food.sweetId,food)">
      <div class="form-group">
        <label>Location<span id="required">*</span></label>
        <input id="Fields" class="form-control" type="text" name="locationName"  placeholder="Enter Location Name" [(ngModel)]="food.locationName" formControlName='locationName'/>
        <div *ngIf="foodRegistration.controls['locationName'].touched && !foodRegistration.controls['locationName'].valid">
          <div *ngIf="foodRegistration.controls['locationName'].hasError('required')" id="alert">
            <span id="required">Location Name is Required!</span>
          </div>
          <div *ngIf="foodRegistration.controls['locationName'].hasError('pattern')" id="alert">
            <span id="required">Invalid Location Name!</span>
          </div>  
        </div>
      </div> 
      <br><br><br><br>
             
      <div class="form-group">
        <label>Sweet&nbsp;Name<span id="required">*</span></label>
        <input id="Fields" class="form-control" type="text" name="sweetName" placeholder="Enter Sweet Name" [(ngModel)]="food.sweetName" formControlName='sweetName' />
        <div *ngIf="foodRegistration.controls['sweetName'].touched && !foodRegistration.controls['sweetName'].valid">
          <div *ngIf="foodRegistration.controls['sweetName'].hasError('required')" id="alert">
            <span id="required">Sweet Name is Required!</span>
          </div>
          <div *ngIf="foodRegistration.controls['sweetName'].hasError('pattern')" id="alert">
            <span id="required">Invalid Sweet Name!</span>
          </div>
        </div>
      </div>
      <br><br><br><br>

          <div id="search_buttons">
              <button type="submit" class="btn btn-success" [disabled]='!foodRegistration.valid'>Update</button>
              &nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
      </form>
</div>  